table, tr, td{
	border: 2px solid #0000FF;
}

td{
	width: 30px;
	height: 30px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff;
	
	
}

.color{
	color:#000000;
	background-color: 	#4169E1;
	color: #ffffff;
	
}

body{
	background-color: 	#191970;
}

.color-text1{
	color: #ffffff;
}

.color-text2{
	color: #ffffff;
}

.color-text3{
	color: #ffffff;
}



