table, tr, td{
	border: 1px solid;
}

td{
	width: 30px;
	height: 30px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color{
	color:#000000;
	background-color: rgb(0,255,255);
}



